
.crear-pedido-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
  }
  
  .producto-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .urgente-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .urgente-label input {
    margin-left: 5px;
  }
  
  .botonA{
    background-color: yellow;
    color: black;
    margin-right: 18px;
    
    
    
  }
  .botonB{
    background-color: black;
    color: white;
    
  }

  .botonC{
    background-color: magenta;
    color: white;
    margin-left: 500px;
    width: 80px ;
    font-size: 19px;

    
  }